// Neutral colors
$neutralTheDarkest: #242424;
$neutralDarkMedium: #838383;
$neutralDark: #292929;
$neutralLight: #383838;
$neutralTheLightest: #e9e9e9;

// Primmary colors
$primary: #fe346e;

// Accent colors
$accentGood: #40c42f;
$accentGoodHover: #40d82c;
$accentAttention: #eeeb29;
$accentAttentionHover: #fffb2c; 
$accentCritical:#e02932;
$accentCriticalHover: #ff2c37;


// Fonts
$headingFont: Roboto;
$regularFont: TISA;


// Buttons
.button-good {
    background-color: $accentGood; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button-good:hover {
    background-color: $accentGoodHover;
}

.button-bad {
    background-color: $accentCritical;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button-bad:hover {
    background-color: $accentCriticalHover; 
}



// Inputs
.modal-input {
    border: none;
    color: $neutralTheLightest;
}

