// Neutral colors
$neutralTheDarkest: #242424;
$neutralDarkMedium: #838383;
$neutralDark: #292929;
$neutralLight: #383838;
$neutralTheLightest: #e9e9e9;

// Primmary colors
$primary: #fe346e;

// Accent colors
$accentGood: #40c42f;
$accentGoodHover: #40d82c;
$accentGoodDisabled: #397731;

$accentAttention: #eeeb29;
$accentAttentionHover: #fffb2c; 
$accentAttentionDisabled: #c4c13c; 

$accentCritical:#e02932;
$accentCriticalHover: #ff2c37;
$accentCriticalDisabled: #a02d33;

$accentNormal: #1520c4;
$accentNormalHover: #1926da;
$accentNormalDisabled: #2e3596;


// Fonts
$headingFont: Roboto;
$regularFont: TISA;


// Buttons
.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.button:focus {
    outline: none;
}

.button:active {
    outline: none;
    transform: translateY(1px);
}

.button-good {
    @extend .button;
    background-color: $accentGood; 
}

.button-good:hover {
    background-color: $accentGoodHover;
}

.button-good:disabled {
    background-color: $accentGoodDisabled;
    cursor: default;
}

.button-bad {
    @extend .button;
    background-color: $accentCritical;
}

.button-bad:hover {
    background-color: $accentCriticalHover; 
}

.button-bad:disabled {
    background-color: $accentCriticalDisabled; 
    cursor: default;
}


.button-normal {
    @extend .button;
    background-color: $accentNormal;
}

.button-normal:hover {
    background-color: $accentNormalHover; 
}

.button-normal:disabled {
    background-color: $accentNormalDisabled; 
    cursor: default;
}



// Inputs
.modal-input {
    border: none;
    color: $neutralTheLightest;
}

.modal-input.ng-valid {
    border: solid 1px;
    border-color: $accentGood;
}

.modal-input.ng-dirty.ng-invalid {
    border: solid 1px;
    border-color: $accentCritical;
}

.modal-input:focus {
    outline: none !important;
    box-shadow: none !important;
}


// Others
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }