// Neutral colors
$neutralTheDarkest: #242424;
$neutralDark: #292929;
$neutralLight: #383838;

// Primmary colors
$primary: #fe346e;

// Accent colors
$accent: #d2fafb;


// Fonts
$headingFont: Roboto;
$regularFont: TISA;
