<div class="modal-header">
  ToDo Edit
  <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col">
      <label>Title</label>
      <input id="todo-title-input" type="text" [(ngModel)]="todoElement.title">
      <label>Description</label>
      <input id="todo-description-input" type="text" [(ngModel)]="todoElement.description">
      
      <button id="todo-edit-button" type="button" (click)="editTodoElement()">
        Confirm edits
      </button>
    </div>
  </div>
</div>