@import "../../shared/styles/global.scss";

#todo-element {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: $neutralDark;

    -webkit-box-shadow: 10px 10px 38px -17px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 38px -17px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 38px -17px rgba(0,0,0,0.75);
}

#todo-element-title {
    position: relative;
    text-align: center;
    color: $neutralDarkMedium;
    font-family: $headingFont;
    font-size: 120%;
    background-color: $neutralTheDarkest;
}

#todo-element-edit {
    position: absolute;
    right: 4%;
    top: 0%;
    font-size: 90%;
    color: $neutralDarkMedium;
}

#todo-element-remove {
    position: absolute;
    right: 1%;
    top: 0%;
    font-size: 90%;
    color: $neutralDarkMedium;
}

#todo-element-description {
    text-align: center; 
    color: $neutralTheLightest;
    font-family: $regularFont;
    font-size: 100%;
}

#todo-element-date {
    text-align: center;
    color: $neutralTheLightest;
    font-family: $regularFont;
    font-size: 70%;
}